{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique d'Anso{% endblock %}

{% block content %}
    <h1 class="mt-5">Mon compte</h1>
    <!-- Lien qui ne s'affiche que pour le rôle admistrateur -->
    {% if is_granted('ROLE_ADMIN') %}
        - <b><a style="color: mediumvioletred";  href="/admin">Vous êtes un administrateur, accéder au backoffice ?</a></b> <br/><br>
    {% endif %}

    Bienvenue <strong>{{ app.user.firstname}}</strong>  dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr/>

    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item">
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
    <hr/>

{% endblock %}
